/**
 * Additional styles correct images location and change to flat style
 *
 * @author     Web Semantics, Inc. Dev Team <info@websemantics.ca>
 * @copyright  2011-2015 Web Semantics, Inc.
 * @link       http://websemantics.ca
 * @license    https://opensource.org/licenses/MIT
 */

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 7px 0 0 8px;
  min-height: 85px;
	border: 2px solid #acb4b9;
	border-radius: 5px;
	background: none;
	width:100%;
	box-shadow: none;
	margin-bottom: 0px!important;
}

.chosen-container-multi .chosen-choices{
	padding: 5px 8px;
}

.chosen-container {
  width:100%!important;
	margin-bottom: 10px;
}

.chosen-container-active .chosen-single {
  border: 2px solid #acb4b9;
  box-shadow: none;
}

.chosen-container-single .chosen-search input[type="text"] {
  border: 1px solid #acb4b9;
}

.chosen-container-active.chosen-container-multi.chosen-with-drop .chosen-choices,
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 2px solid #acb4b9;
  border-bottom-color: white;
  background-image: none;
  box-shadow: none;
}

.chosen-container-multi .chosen-choices li.search-choice {
    border: 2px solid #acb4b9;
		background: none;
	}

.chosen-container-multi .chosen-drop {
	margin-top: -4px;
}

.chosen-container-single .chosen-drop {
	margin-top: -2px;
}

.chosen-container .chosen-drop {
  border: 2px solid #acb4b9;
  border-top: 0;
  box-shadow: none;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: none;
  background-color: #acb4b9;
  color: #fff;
}

.chosen-container-single .chosen-single div {
    padding: 7px 3px 0px 0px;
    width: 16px;
}

.chosen-container-single .chosen-single abbr {
  background: url('chosen/chosen-sprite.png') -42px 1px no-repeat;
}

.chosen-container-single .chosen-single div b {
  background: url('chosen/chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search input[type="text"] {
  background: white url('chosen/chosen-sprite.png') no-repeat 100% -20px;
  background: url('chosen/chosen-sprite.png') no-repeat 100% -20px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: url('chosen/chosen-sprite.png') -42px 1px no-repeat;
}
.chosen-rtl .chosen-search input[type="text"] {
  background: white url('chosen/chosen-sprite.png') no-repeat -30px -20px;
  background: url('chosen/chosen-sprite.png') no-repeat -30px -20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen/chosen-sprite@2x.png') !important;
  }
}
