.modal-backdrop{
	z-index: -1;
}

.upload-rules ul li{
	list-style: square;
	color: #ff0000;
}

.photo-preview{
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

video{
	width: 100%;
}

img.img-on-table{
	width: 200px;
}

.datepicker{
    z-index: 1100 !important;
}

figure.carousel-images img, .prev-img{
	height: 240px;
	margin: 0 auto;
}

table tbody td{
	vertical-align: middle !important;
}

.thumb-craft, .thumb-product{
	width: 150px;
	margin: 0 auto;
}

.prev-img.detail{
	width: 100%;
	height: auto;
}

.detail-title{
	padding-top: 10px;
}

.well.new-variant{
	background: rgb(83, 169, 255);
}

.prev-carousel{
	height: 150px;
	margin: 0 auto;
}