
 * Title: Main stylesheet
 * Description: General stylesheet used to import all the different styles.
 * Author: Gaetan Masson
 * Version: Sewwwa v1.0.0 (http://sewwwa.com)
 * Copyright 2016 PT Cerise.
 * All right reserved
 *
 */
/*
 * Title: Variable stylesheet
 * Description: Specific stylesheet used to declare the stylesheet variables.
 * Author: Gaetan Masson
 * Version: Sewwwa v1.0.0 (http://sewwwa.com)
 * Copyright 2016 PT Cerise.
 * All right reserved
 *
 */
/*
 * Title: Typography stylesheet
 * Description: Specific stylesheet used to customize the website typography.
 * Author: Gaetan Masson
 * Version: Sewwwa v1.0.0 (http://sewwwa.com)
 * Copyright 2016 PT Cerise.
 * All right reserved
 *
 */

 /*@font-face {
     font-family: "din";
     src: url(../fonts/DINRegular.ttf) format("truetype");
 }*/

body {
  font-family: 'EB Garamond', serif;
  color: black;
  margin-top: 80px;
  overflow-x: hidden !important;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
    overflow-x: hidden !important;
  }
}

@media screen and (max-width: 768px){
  body{
    margin-top: 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card .h1,
.card .h2,
.card .h3,
.card .h4,
.card .h5,
.card .h6 {
  color: #000;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  font-family: 'EB Garamond', serif;
}

p .lead {
  color: rgba(0, 0, 0, 0.87);
}

article h1,
article h2,
article h3,
article h4,
article h5,
article p {
  text-decoration: none;
  margin: 0;
  color: #000;
}

article h1:hover,
article h2:hover,
article h3:hover,
article h4:hover,
article h5:hover,
article p:hover {
  text-decoration: none;
  color: #000;
}

.shout {
  font-size: 24px;
}

.shout.insta-tag{
  font-size: 32px;
  margin-left: 15px;
}

.wisper {
  font-size: 12px;
}

body > header .header-background h1 {
  margin: 0;
  padding: 50px 0;
  font-size: 46px;
  font-weight: 100;
  color: #fff;
  /*text-shadow: 0px 3px 0.98px rgba(0, 0, 0, 0.87);*/
  text-transform: uppercase;
  letter-spacing: -7px;
}

@media screen and (max-width: 768px){
  body > header .header-background h1 {
    letter-spacing: -4px;
  }
}

@media (min-width: 768px) {
  body > header .header-background h1 {
    font-size: 76px;
    padding: 165px 0;
  }
}

nav li a,
.nav-footer li a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #757575;
}

nav li a:hover,
.nav-footer li a:hover {
  background-color: transparent;
  color: #000;
}

.quote,
.quote-author {
  font-family: 'La Belle Aurore', cursive;
}

.quote {
  font-size: 40px;
  color: #000;
}

.quote-author {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.54);
}

/*
* Title: Layout stylesheet
* Description: Specific stylesheet used to customize the website layout.
* Author: Gaetan Masson
* Version: Sewwwa v1.0.0 (http://sewwwa.com)
* Copyright 2016 PT Cerise.
* All right reserved
*
*/
html,
body {
  height: 100%;
  width: 100%;
  background-color: #FFF;
}

#topBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background-color: #606060;
  color: #FFF;
}

#topBanner p {
  margin: 0;
}

#topBanner a {
  color: #FFF;
  padding-left: 16px;
}

#topBanner a i.material-icons {
  line-height: inherit;
}

/* Pages layout */
body > header {
  /*background-color: #FEFDF0;*/
}

body > header .header-background {
  margin-top: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 450px;
}

@media (max-width: 769px) {
  body > header .header-background {
    margin-top: 60px;
    min-height: 100px;
  }
}

body > main > section {
  /*background-color: #FEFDF0;*/
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 769px) {
  body > main > section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

body > main > article {
  padding-top: 60px;
  padding-bottom: 60px;
}

body > main > article h1,
body > main > article p {
  margin: 0;
}

body > main > article ul {
  list-style: none;
}

body > main > article ul li {
  margin-left: -20px;
}

body > main > article ul li:before {
  padding-right: 10px;
  content: '\f069';
  font-family: 'FontAwesome';
  float: left;
  color: #946d57;
}

body.home > main > section, body.about > main > section{
    padding-top: 20px;
    padding-bottom: 30px;
}

body.home{
  /*margin-top: -125px;*/
  overflow-x: hidden;
}

@media screen and (max-width: 768px){
  /*body.home{
    margin-top: -75px;
  }*/
}

body.home > main > section:first-child{
    padding-top: 60px;
}

@media screen and (max-width: 768px){
  body.home > main > section:first-child{
      padding-top: 80px;
  }
}

body.section-men > main > section, body.section-women > main> section{
    padding-bottom: 100px;
}

body.home > main > section, body.about > main > section {
  z-index: 100;
  position: relative;
  padding-top: 60px;
  /*background: #FEFDF0;*/
  /*background: -moz-linear-gradient(#FFF 0%, #FEFDF0 50%, #FFF 100%);*/
  /*background: -webkit-linear-gradient(#FFF 0%, #FEFDF0 50%, #FFF 100%);*/
  /*background: -ms-linear-gradient(#FFF 0%, #FEFDF0 50%, #FFF 100%);*/
  /*background: linear-gradient(#FFF 0%, #FEFDF0 50%, #FFF 100%);*/
}

@media (min-width: 769px) {
  body.home > main > section, body.about > main > section {
    padding-top: 30px;
  }
}

body.about > main section:first-child {
  /*background: #FEFDF0;*/
  /*background: -moz-linear-gradient(#FEFDF0 50%, #FFF 100%);*/
  /*background: -webkit-linear-gradient(#FEFDF0 50%, #FFF 100%);*/
  /*background: -ms-linear-gradient(#FEFDF0 50%, #FFF 100%);*/
  /*background: linear-gradient(#FEFDF0 50%, #FFF 100%);*/
}

body.about > main section .row {
  margin-bottom: 32px;
}

body.about > main section .row:last-child {
  margin-bottom: 0;
}

@media (min-width: 993px) {
  body.about > main section .row {
    margin-bottom: 96px;
  }
}

@media (min-width: 993px) {
  body.category > main section > .container > .row, body.crafts > main section > .container > .row {
    margin-top: 30px;
  }
  body.category > main section > .container > .row:first-child, body.crafts > main section > .container > .row:first-child {
    margin-top: 0;
  }
  body.category > main section > .container > .row .breadcrumb, body.crafts > main section > .container > .row .breadcrumb {
    margin-bottom: 20px;
  }
}

body.crafts article ul {
  padding-left: 20px;
  list-style: none;
}

body.crafts article ul li {
  margin-left: -20px;
  color: #000;
}

body.crafts article ul li:before {
  padding-right: 10px;
  content: '\f069';
  font-family: 'FontAwesome';
  float: left;
  color: #946d57;
}

body.contact > header {
  background-color: #FFF;
}

body.contact > main > section {
  background-color: #FFF;
}

/*body.contact > main > section h2 {
  margin-bottom: 80px;
}*/

body.contact > main > section .row {
  margin-bottom: 60px;
}

body.contact > main > section .row:last-child, body.contact > main > section .row:first-child {
  margin-bottom: 0;
}

body.section-women > main section .row, body.section-men > main section .row {
  margin-top: 60px;
}

body.section-women > main section .row:first-child, body.section-men > main section .row:first-child {
  margin-top: 0;
}

body.section-women > main section .row .breadcrumb, body.section-men > main section .row .breadcrumb {
  margin-bottom: 20px;
}

body.section-women > main section .container {
  /*background: #FEFDF0 url("../img/roots.png") center no-repeat;*/
  /*background-size: contain;*/
}

body.section-men > main section .container {
  /*background: #FEFDF0 url("../img/cabana.png") center no-repeat;*/
  /*background-size: contain;*/
}

body:not(.home){
  margin-top: 175px;
}

@media screen and (max-width: 768px){
  body:not(.home){
    margin-top: 40px;
  }
}

nav a:active, nav a:focus{
  color: #000;
}

.breadcrumb {
  margin-bottom: 50px;
}

.margin-0 {
  margin-top: 16px;
}

@media (min-width: 993px) {
  .margin-0 {
    margin-top: 0;
  }
}

.margin-1 {
  margin-top: 16px;
}

@media (min-width: 993px) {
  .margin-1 {
    margin-top: 10px;
  }
}

.margin-2 {
  margin-top: 16px;
}

@media (min-width: 993px) {
  .margin-2 {
    margin-top: 20px;
  }
}

.margin-3 {
  margin-top: 16px;
}

@media (min-width: 993px) {
  .margin-3 {
    margin-top: 30px;
  }
}

.margin-4 {
  margin-top: 16px;
}

@media (min-width: 993px) {
  .margin-4 {
    margin-top: 40px;
  }
}

.margin-5 {
  margin-top: 16px;
}

@media (min-width: 993px) {
  .margin-5 {
    margin-top: 50px;
  }
}

.margin-6 {
  margin-top: 16px;
}

@media (min-width: 993px) {
  .margin-6 {
    margin-top: 60px;
  }
}

.margin-7 {
  margin-top: 16px;
}

@media (min-width: 993px) {
  .margin-7 {
    margin-top: 70px;
  }
}

.divider {
  z-index: 200;
  position: relative;
  min-height: 300px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 769px) {
  .divider {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

h1.font3{
  font: bold 14px/16px "Quicksand", Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
}

h3.font3{
  font: bold 14px/16px "Quicksand", Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
}

p.also-like.font3{
  font: bold 14px/16px "Quicksand", Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
}

.font3 p{
  font: 400 14px/30px "Quicksand", Arial, Helvetica, sans-serif !important;
  text-transform:uppercase !important;
}

.font3 h4{
  font: 600 16px/30px "Quicksand", Arial, Helvetica, sans-serif !important;
  text-transform:uppercase !important;
}

.font3 h2{
  font: 600 16px/30px "Quicksand", Arial, Helvetica, sans-serif !important;
  text-transform:uppercase !important;
}

.card {
  margin-bottom: 16px;
  position: relative;
  background-color: #FFF;
  border: none;
  text-decoration: none;
  /*border-radius: 4px;*/
  /*-moz-transition: all 250ms;*/
  /*-o-transition: all 250ms;*/
  /*-webkit-transition: all 250ms;*/
  /*transition: all 250ms;*/
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}

.card:hover {
  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
  /*-moz-transform: translateY(-5px);*/
  /*-o-transform: translateY(-5px);*/
  /*-ms-transform: translateY(-5px);*/
  /*-webkit-transform: translateY(-5px);*/
  /*transform: translateY(-5px);*/
  text-decoration: none;
}

.card a {
  text-decoration: none;
}

.card a:hover {
  text-decoration: none;
}

.card a.btn-flat {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
}


@media (min-width: 993px) {
  .card {
    margin-bottom: 0;
  }
}

.verticaly-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-title,
.article-title {
  padding-bottom: 16px;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 300;
  color: #39251c !important;
}

.card-title-block,
.card-block,
.article-block {
  padding: 24px;
}

.article-block.item-single{
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
}

.article-block.item-single p{
  line-height: 30px;
}

.main-item-single{
  margin-top: 25px;
}

.card-title-block{
  padding: 20px 5px;
}

.card-title-block h2{
  font-size: 22px;
  font-weight: bold;
}

.card-title-block .card-desc{
  font-size: 18px;
}

h3.card-title{
  font-size: 36px;
  font-weight: 300;
}

.product-item:hover img{
  opacity: 0.56;
}

.product-item:hover h2,.product-item:hover .card-desc p{
  color: #c2653d;
}

.article-block {
  border-bottom: 1px rgba(0, 0, 0, 0.56) solid;
}

.article-block:last-child {
  border-bottom: none;
}

.article-block h1.font2{
  font-weight: 800;
}

.flat-card p {
  padding-bottom: 16px;
  font-size: 18px;
}

.color-picker p {
  margin-top: 0;
  margin-bottom: 8px;
}

.color-picker a {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 8px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 250ms;
}

.color-picker a:hover {
  background-color: #b08c78;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.color-picker a:first-of-type {
  margin-left: 0;
}

.color-picker a:last-child {
  margin-right: 0;
}

body > footer .nav-footer {
  padding: 15px 0;
}

body > footer .nav-footer li {
  display: block;
}

body > footer .nav-footer li a {
  padding: 15px 15px;
}

@media (min-width: 769px) {
  body > footer .nav-footer li {
    display: inline-block;
  }
  body > footer .nav-footer li a {
    min-width: 64px;
    padding: 50px 15px;
  }
}

@media (min-width: 769px) {
  body > footer .nav-footer {
    padding: 0;
  }
}

/*body > footer .row:nth-child(2) {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 769px) {
  body > footer .row:nth-child(2) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}*/

body > footer .row article:first-child {
  padding-bottom: 15px;
}

/*
* Title: General stylesheet
* Description: General styles.
* Author: Gaetan Masson
* Version: Sewwwa v1.0.0 (http://sewwwa.com)
* Copyright 2016 PT Cerise.
* All right reserved
*
*/
/* Website background setup */
body.women > header,
body.women section {
  background-color: #fafafa;
}

a {
  color: #777777;
}

a:hover {
  color: #000;
}

/* Buttons */
.btn:focus {
  outline-color: #b08c78;
}

.btn-raised {
  padding: 8px 16px;
  background-color: #39251c;
  border-radius: 2px;
  color: #FFF;
  text-transform: uppercase;
  transition: .25s background-color;
}

.btn-raised:hover {
  background-color: #946d57;
  color: #FFF;
}

.btn-raised:focus {
  color: #fafafa;
}

.btn-flat {
  padding: 8px;
  max-height: 36px;
  margin: 8px;
  background-color: transparent;
  border-radius: 2px;
  color: #946d57;
  text-transform: uppercase;
  transition: all 250ms;
}

.btn-flat:hover {
  background-color: rgba(148, 109, 87, 0.12);
}

.btn-ghost {
  padding: 8px 16px;
  background-color: transparent;
  border: 2px #946d57 solid;
  border-radius: 2px;
  color: #946d57;
  text-transform: uppercase;
  transition: all 250ms;
}

.btn-ghost:hover {
  background-color: #946d57;
  color: #FFF;
}

/* Main navigation */
body > nav.navbar {
  z-index: 1000;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #FFF;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.16), 0 0px 1px rgba(0, 0, 0, 0.23);
}

nav.navbar{
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 14px;
}

.navbar > .navbar-v3{
  padding-top: 45px;
  padding-bottom: 45px;
}

body > nav.navbar .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 993px) {
  body > nav.navbar .navbar-nav > li > a {
    padding-top: 28px;
    padding-bottom: 30px;
  }
}

.dropdown-menu{
  margin-top: -2.5px !important;
}

body > nav.navbar .navbar-nav > li:last-child a {
  padding-bottom: 20px;
}

body > nav.navbar .navbar-nav > .open > a,
body > nav.navbar .navbar-nav > .open a:hover,
body > nav.navbar .navbar-nav > .open a:focus {
  background-color: transparent;
}

body > nav.navbar .navbar-nav > .open .dropdown-menu {
  padding: 0;
  min-width: 64px;
}

body > nav.navbar .navbar-nav > .open .dropdown-menu > li > a {
  padding: 15px 30px;
}

@media (min-width: 993px) {
  body > nav.navbar .navbar-nav > .open .dropdown-menu > li > a {
    padding: 15px;
  }
}

body > nav.navbar .navbar-nav > .open .dropdown-menu > li:first-child > a {
  background-color: #FEFDF0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

body > nav.navbar .navbar-nav > .open form {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body > nav.navbar .navbar-nav > .open form .form-group {
  width: 100%;
  margin-right: 15px;
  margin-bottom: 0;
}

body > nav.navbar .navbar-nav > .open form .form-group .form-control {
  width: 100%;
}

@media (min-width: 993px) {
  body > nav.navbar .navbar-nav > .open form .form-group {
    width: 300px;
  }
}

@media (max-width: 991px) {
  body > nav.navbar .navbar-nav {
    margin: 7.5px -15px 0;
  }
}

@media (max-width: 991px) {
  body > nav.navbar .collapse {
    display: none !important;
  }
}

body > nav.navbar .collapse.in {
  display: block !important;
}

@media (min-width: 993px) {
  body > nav.navbar .navbar-collapse.collapse {
    display: block !important;
  }
}

body > nav.navbar > nav.navbar-default .navbar-nav li a {
  color: #757575;
}

body > nav.navbar > nav.navbar-default .navbar-nav li a:hover {
  color: #000;
}

.navbar > .container .navbar-brand {
  margin-left: 40px;
}

@media screen and (max-width: 768px){
  .navbar > .container .navbar-brand {
    margin-left: 15%;
  }
}

.navbar > .container .navbar-brand img {
  height: 25px;
  width: auto;
}

@media (min-width: 769px) {
  .navbar > .container .navbar-brand {
    margin-left: 0;
  }
}

@media (min-width: 993px) {
  .navbar > .container .navbar-brand {
    height: 40px;
    padding: 20px 15px;
  }
  .navbar > .container .navbar-brand img {
    height: 40px;
  }
}

.navbar-toggle {
  float: left;
  border: 0;
  border-radius: 3px;
  margin-left: 10px;
}

.navbar-toggle:hover {
  background-color: #FEFDF0;
}

/* CUSTOM-V2 */
.navbar-nav.left-nav li{
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-nav.right-nav li{
  margin-left: 38.3px;
  margin-right: 37.5px;
}

.navbar-nav .logo-center img{
  max-width: 200px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 1366px){
  .navbar-nav.left-nav li{
    margin-left: 7px;
    margin-right: 7px;
  }

  .navbar-nav.right-nav li{
    margin-left: 10px;
    margin-right: 10px;
  }

  .navbar-nav .logo-center img{
    max-width: 200px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

}

/*.nav-search{
  margin-right: 25px;
}*/

.video-banner{
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
}

#scrollDown{
  position: relative;
  height: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#scrollDown button{
  position: relative;
  z-index: 999;
  height: 50px;
  width: 50px;
  top: 0;
  padding: 6px 0;
  border-radius: 46%;
  background-color: #FFF;
  color: #946d57;
  transition: all 250ms;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#scrollDown button i{
  font-size: 36px;
}

.video-banner video{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

@media screen and (min-width: 1920px){
  .video-banner video{
    margin-top: 155px;
  }
}

@media screen and (max-width: 1280px){
  .video-banner video{
    width: auto;
    height: 100%;
  }
}

#playButton{
  position: absolute;
  left: 47.5%;
  top: 50%;
  color: #fff;
  z-index: 5;
  width: 60px;
}

#playButton i{
  font-size: 72px;
}

@media screen and (max-width: 1280px){
  /*#scrollDown{
    bottom: 2% !important;
  }*/
}

@media screen and (max-width: 767px){
  #playButton{
    left: 40% !important;
  }

  /*#scrollDown{
    left: 42.5% !important;
    bottom: -4% !important;
  }*/
}

div.padding-video{
  display: block;
}


/* CUSTOM-V2 */

@media (max-width: 991px) {
  .navbar-toggle {
    display: block;
  }
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #FEFDF0;
}

/* Home page */
body.home > header {
  height: 100%;
  z-index: 0;
  position: absolute;
  width: 100%;
  /*background-color: #000;*/
}

body.home > #mainContent{
  z-index: 5;
  background: white;
}

body.home > #mainContent > section{
  background: white;
}

body.home > header > section.carousel {
  height: 100%;
}

body.home > header > section.carousel .carousel-inner {
  height: 100%;
}

body.home > header > section.carousel .carousel-inner .item,
body.home > header > section.carousel .carousel-inner .active {
  height: 100%;
}

body.home > header > section.carousel .carousel-inner .item .carousel-fill,
body.home > header > section.carousel .carousel-inner .active .carousel-fill {
  position: relative;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 769px) {
  body.home > header > section.carousel .carousel-inner .item .carousel-fill,
  body.home > header > section.carousel .carousel-inner .active .carousel-fill {
    background-position: 0 20%;
  }
}

body.home > header > section.carousel .carousel-inner .item .carousel-fill div.hero-overlay,
body.home > header > section.carousel .carousel-inner .active .carousel-fill div.hero-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

body.home > header > section.carousel .carousel-indicators {
  bottom: 30px;
}

body.home > header > section.carousel .carousel-indicators li {
  width: 16px;
  height: 16px;
  border: 2px #FFF solid;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

body.home > header > section.carousel .carousel-indicators .active {
  width: 18px;
  height: 18px;
  margin: 0;
}

body > header > button.btn {
  position: absolute;
  z-index: 999;
  height: 50px;
  width: 50px;
  bottom: -4%;
  padding: 6px 0;
  border-radius: 50%;
  background-color: #FFF;
  color: #946d57;
  transition: all 250ms;
  margin-left: -2%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 768px){
  body > header > button.btn {
    margin-left: -6%;
    /*bottom: 5%;*/
  }
}

body > header > button.btn:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body > header > button.btn:focus, body > header > button.btn:active, body > header > button.btn:active:focus {
  outline: none;
}

body > header > button.btn i.material-icons {
  font-size: 36px;
}

/*.instagram{
  margin-bottom: 50px;
}
*/
.instagram img {
  margin-bottom: 16px;
  /*border-radius: 4px;*/
  transition: all 250ms;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}

@media (min-width: 993px) {
  .instagram img {
    margin-bottom: 0;
  }
}

/*.instagram img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  text-decoration: none;
}*/

.breadcrumb {
  background-color: transparent;
}

.breadcrumb > .active {
  color: #000;
}

#shareButton{
  min-width: 96px;
}

#shareButton,
#shareLinks {
  float: left;
  margin-right: 16px;
}

#shareLinks {
  overflow: hidden;
}

#shareLinks a:first-child {
  margin-left: -150px;
}

.about > main > section article,
.crafts > main > section article {
  overflow: hidden;
}

.about > main > section article .article-content,
.crafts > main > section article .article-content {
  opacity: 1;
}

.about > main > section article .article-content.hide,
.crafts > main > section article .article-content.hide {
  opacity: 0;
}

.about > main > section article .article-specs,
.crafts > main > section article .article-specs {
  position: absolute;
  top: 0;
  opacity: 1;
  transition: all 1000ms;
}

.about > main > section article .article-specs.hide,
.crafts > main > section article .article-specs.hide {
  opacity: 0;
  top: 350px;
}

.about > main > section:first-child article img {
  padding: 40px;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
  outline: none;
  height: 36px;
  width: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 300ms;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #946d57;
  box-shadow: 0 1px 0 0 #946d57;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #946d57;
}

.form-group {
  position: relative;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
}

.form-group pre {
  margin: 0;
  padding: 0 0 6px 0;
  outline: 0;
  border: 0;
}

.form-group label {
  position: absolute;
  top: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  cursor: text;
  transition: all 200ms ease-out;
}

.form-group label.active {
  text-transform: uppercase;
  font-size: 10px;
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);
}

.form-group label.active-color {
  color: #946d57;
}

.form-group label.label-message {
  top: 0;
}

.expandingText {
  margin-top: 36px;
  min-height: 16px;
}

/* Footer */
body > footer {
  border-top: 1px rgba(148, 109, 87, 0.12) solid;
  background-color: #fff;
}

body > footer article p.shout{
  color: #39251c;
}

body > footer .row:last-child {
  border-top: 1px rgba(148, 109, 87, 0.12) solid;
  margin-top: 50px;
}

body > footer .row:first-child {
  border-top: none;
}

body > footer .form-inline {
  margin-bottom: 8px;
}

body > footer .form-inline .form-control {
  height: 38px;
  width: 100%;
}

@media (min-width: 993px) {
  body > footer .form-inline .form-control {
    width: 400px;
  }
}

body > footer .form-inline .form-group {
  margin-right: 16px;
}

body > footer .form-inline .form-group input {
  margin-bottom: 0;
}

body > footer .copyrights {
  padding-top: 15px;
  padding-bottom: 10px;
}

body > footer .copyrights img {
  height: 20px;
  margin-top: -4px;
}

body > footer .copyrights img,
body > footer .copyrights p {
  display: inline-block;
}

a.social-media-icons {
  display: inline-block;
  height: 36px;
  width: 36px;
  margin-right: 20px;
}

a.social-media-icons img {
  height: 36px;
  width: 36px;
  border-radius: 2px;
  border-radius: 2px;
  transition: all 250ms;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

a.social-media-icons img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.crafts-content{
  margin-top: 30px;
}

.crafts-item:hover img{
  opacity: 0.56;
}

.crafts-item:hover h2,.crafts-item:hover .card-desc p{
  color: #c2653d;
}

.column-item{
  margin-bottom: 30px;
}

.product-list div.product-item{
  margin-top: 30px;
}

/* CUSTOM-V2 */
.instagram-image{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
}

.instagram-image .image{
  background-size:cover;
  background-position: center;
  width: 100%;
  min-height: 300px
}

.imagelink3{
  margin-top: 5px;
  margin-bottom: 60px;
}

.imagelink-square{
  min-height: 600px;
  /*border: 1px solid #000;*/
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: 0.4s opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagelink3-bg{
  min-height: 450px;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: 0.4s opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagelink-bottom{
  min-height: 300px;
  /*border: 1px solid #000;*/
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: 0.4s opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagelink:not(.no-hover):hover .imagelink-square,
.imagelink:not(.no-hover):hover .imagelink3-bg,
.imagelink:not(.no-hover):hover .imagelink-bottom{
  opacity: 0.48;
}

.imagelink:hover .wrapper-voir{
  opacity: 1;
}

.imagelink{
  position: relative;
  padding: 15px;
}

.imagelink a{
  text-decoration: none;
}

.imagelink .wrapper-voir{
  width: 94%;
}

.imagelink3 > .imagelink .wrapper-voir{
  width: 98%;
}

.imagelink .imagelink-text{
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  /*padding-top: 40%;*/
  color: #fff;
}


.imagelink .imagelink-text p{
  font-size: 40px;
  text-shadow: 0px 3px 0.98px rgba(0, 0, 0, 0.98);
}

.imagelink .imagelink-text h2{
  font-size: 80px;
  margin-top: -10px;
  font-family: 'Nothing You Could Do', cursive;
  text-shadow: 0px 3px 0.98px rgba(0, 0, 0, 0.98);
  font-weight: bold;
}

.imagelink-bottom .imagelink-text h2{
  font-size: 48px;
}

@media screen and (max-width: 768px){
  .imagelink .imagelink-text h2{
    font-size: 36px;
  }
}

.imagelink3 .imagelink .imagelink-text{
  height: 100%;
  width: 100%;
  color: #fff;
}


.about-left,.about-right{
  /*min-height:525px;*/
}

.content-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-left{
  border-left: 1px solid rgba(0,0,0,.23);
}

@media screen and (max-width: 768px){
  .about-left{
    border-left: none;
    /*border-bottom: 1px solid #000;*/
  }
}

.about-image{
  padding-top: 40px;
  padding-bottom: 50px;
}

.about-image img{
  /*max-width: 360px;*/
  margin: 0 auto;
}

.separator-about.shop:not(:last-child){
  border-bottom: 1px solid rgba(0,0,0,.23);
  margin: 0;
  width: 100%;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px){

  .about-image img{
    /*max-width: 425px;*/
    min-width: 90%;
  }

  .about-image.shop img{
    /*max-width: 625px;*/
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px){
  .about-image{
    padding: 25px;
    min-height: 0;
  }

  .about-content{
    padding: 10px;
  }

  .about-left,.about-right{
    min-height: 0;
  }

  .about-content:not(:first-child){
    border-top: 1px solid #000;
  }
}

.about-content{
  padding-left: 50px;
  padding-right: 50px;
}

.about-content.shop.last{
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-content h2{
  font-family: 'Nothing You Could Do', cursive;
  font-size: 48px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 800;
}

.about-content.shop h2{
  text-align: center;
}

.about-content div.text{
  font-size: 18px;
}

.branches{
  margin-top: 120px;
}

.branch-address{
  margin-top: 5px;
  margin-bottom: 15px;
}

.branch-address p{
  margin: 0;
}

.contact-branch h3{
  font-family: 'EB Garamond', serif;
  font-weight: bold
}

.collection-types{
  cursor: pointer;
}

.collection-types .type-item{
  background-size:cover;
  background-position:center;
  height: 750px;
}

.collection-types .type-item h2{
  bottom: 15%;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  font-family: 'Nothing You Could Do', cursive;
  text-shadow: 0px 3px 0.98px rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.collection-types .type-item:hover h2{
  color: #9e4624;
}

.collection-types .product-prev{
  height: 750px;
  padding: 200px 50px;
}

.collection-types .product-prev.left{
  border-left: 1px solid #ddd;
}

.collection-types .product-prev.right{
  border-right: 1px solid #ddd;
}

.collection-types .product-prev .image{
  width: 100%;
  height:275px;
  background-position: center;
  background-size: cover;
}

.collection-topleft{
  width: 45%;
  height: 52%;
  top: 0;
  left: 0;
}

.collection-topright{
  width: 550px;
  height: 550px;
  top: 0;
  right: 0;
}

.collection-bottomleft{
  width: 550px;
  height: 550px;
  bottom: 0;
  left: 0;
}

.collection-bottomright{
  width: 45%;
  height: 52%;
  bottom: 0;
  right: 0;
}

.zero-margintop{
  margin-top: 0 !important;
}

aside.variants{
  padding-left: 5px;
  padding-right: 5px;
}

aside.variants .variant-item{
  padding-left: 10px;
  padding-right: 10px;
}

aside.variants .variant-item:hover img{
  opacity: 0.56;
}

.item-colors{
  margin-bottom: 25px;
}

.item-colors .color{
  float: left;
  margin-right: 25px;
  width: 48px;
  height:20px;
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 1px 1px rgba(0, 0, 0, 0.11);
}

.font1{
  font-family: 'EB Garamond', serif;
}

.font1.item-single{
  font-weight: bold;
}

.font2{
  font-family: 'Nothing You Could Do', cursive;
}

.also-like{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}

.wrapper-voir{
  position: absolute;
  width: 100%;
  top:45%;
  opacity: 0;
  transition: 0.4s opacity;
}

.other-product{
  position: relative;
  transition: 0.4s opacity;
}

.other-product:hover .wrapper-voir{
  opacity: 1;
}

.other-product:hover .card-img{
  opacity: 0.56;
}

#itemSingleCarousel .carousel-control{
  background: none;
  opacity: 1;
}

.carousel-control.right img{
  position: absolute;
  right: 10px;
  top: 40%;
}

.carousel-control.left img{
  position: absolute;
  left: 10px;
  top: 40%;
}

/* SOCIAL MEDIA ICONS */
.social-media{
  /*display: block;*/
  /*float: left;*/
  width: 30px;
  height: 30px;
  margin-top: 3px;
  background-position: 0 0;
  background-size: cover;
}

footer .social-media{
  /*display: block;*/
  /*float: left;*/
  width: 40px;
  height: 40px;
  margin-top: 3px;
  background-position: 0 0;
  background-size: cover;
}

.social-media.twitter{
  background-image: url('../img/icons/twitter-icon.png');
}

.social-media.facebook{
  background-image: url('../img/icons/facebook-icon.png');
}

.social-media.pinterest{
  background-image: url('../img/icons/pinterest-icon.png');
}

.social-media.instagram{
  background-image: url('../img/icons/instagram-icon.png');
}

.social-media:hover{
  background-position: 0 -30px;
}

footer .social-media:hover{
  background-position: 0 -40px;
}

footer .footer-logo{
  padding-top: 20px;
}

@media screen and (max-width: 768px){

  footer .footer-logo img{
    width: 75%;
    margin: 0 auto;
  }

  a.social-media-icons{
    margin-right: 10px;
    margin-left: 10px;
  }

  footer{
    text-align: center;
  }

  body > footer .form-inline .form-group {
    margin-right: 0;
  }

  footer input{
    text-align: center;
  }

  footer input::-webkit-input-placeholder {
     text-align: center;
  }

  footer input:-moz-placeholder { /* Firefox 18- */
     text-align: center;
  }

  footer input::-moz-placeholder {  /* Firefox 19+ */
     text-align: center;
  }

  footer input:-ms-input-placeholder {
     text-align: center;
  }

}

.title-craft h2, .title-item h2{
  font-family: 'EB Garamond', serif;
  text-transform: none;
}

.wrapper-voir .btn{
  min-width: 100px;
  background-color: #c2653d;
  transition: 0.4s background-color;
}

.wrapper-voir .btn:hover{
  background-color: #d27c57;
}

.btn.imglnk-bottom{
    background-color: #c2653d;
    transition: 0.4s background-color;
}

.btn.imglnk-bottom:hover{
    background-color: #d27c57;
}


.bold{
  font-weight: bold;
}

.main-article-single{
  padding-bottom: 0;
}

#contactSubmit{
  min-width: 96px;
}

.container.item-single-page{
  width: 85%;
}

/*ul.nav li.dropdown:hover > .dropdown-menu{
  display: block;
}

*/

.nav-left{
  width: 37.5%;
  float: left;
  padding-top: 30px;
}

.nav-left2{
  width: 75%%;
  float: left;
  padding-top: 30px;
}

.nav-logo-left{
  width: 25%;
  float: left;
  padding-left: 0px;
  padding-right: 45px;
  padding-top: 5px;
}

.nav-center{
  width: 25%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

@media screen and (min-width: 1920px){
  .nav-center, .nav-logo-left{
    padding-top: 5px;
  }
}

.nav-right{
  width: 37.5%;
  float: left;
  padding-top: 30px;
}

.nav-left a, .nav-left2 a, .nav-center a, .nav-right a{
  padding-top: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.dropdown-container{
  position: relative;
}

.dropdown-category{
  padding: 5px;
  display: block;
  position: absolute;
  overflow: hidden;
  height: 100%;
}

.dropdown-category a{
  text-transform: uppercase;
  text-decoration: none;
  color: #39251c;
}

.dropdown-menu > li > a:hover{
  background-color: #fafafa !important;
}

.press-release{
  /*width: 60%;*/
  /*margin-left: 20%;*/
}

@media screen and (max-width: 768px){
  .press-release{
    width: 100%;
  }

  .press-release > .col-xs-12{
    margin-left: 15px;
  }
}

.bx-wrapper{
  box-shadow: none;
}

.bxslider > li > img{
  margin: 0 auto;
}

.navbar-fixed-scroll{
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.16),0 0 1px rgba(0,0,0,.23);
  top: -85px;
  opacity: 0;
  transition: top 0.2s ease-in-out;
}

.navbar-show{
  top: 0;
  opacity: 1;
}

.lang-searchbox{
  position: absolute;
  right: 0;
}

.lang-searchbox .navbar-right{
  margin-right: 0;
}


.link-item-left{
  float: left;
  margin-right: 40px;
  margin-left: 10px;
}

.link-item-right{
  float: right;
  margin-right: 10px;
  margin-left: 40px;
}

@media screen and (max-width: 1200px){
  .link-item-left{
    margin-right: 20px !important;
  }

  .link-item-right{
    margin-left: 20px !important;
  }
}

.imagelink-bottom .imagelink-text h2 {
    text-shadow: 0 2px .98px rgba(0,0,0,.56);
    font-weight: 400;
}

.hover-line{
  display: inline-block;
  position: relative;
}
.hover-line:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .4s ease, background-color .4s ease;
}
.hover-line:hover:after{
  width: 100%;
  background: #000;
}

.static-hoverline{
  display: none;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: #000;
  width: 100%;
}

.box-category{
  width: 18.5%;
  float: left;
  margin: 0.75%
}

.box-category img{
  opacity: 1;
  transition: 0.3s opacity;
}

.box-category img:hover{
  opacity: 0.56;
}

.container-fluid.nopadding{
  padding: 10px 0;
}

.container-fixed{
  width: 100%;
}

@media only screen and (min-width: 1600px){
  .container-fixed{
    width: 1450px;
    margin: 0 auto;
  }
}

.card-img{
  width: 100%;
  min-height: 360px;
  background-position: center;
  background-size: cover;
  transition: 0.4s opacity;
}

.card-img:hover{
  opacity: 0.56;
}

@media screen and (max-width: 768px){
  .submenu{
    margin-top: 20px;
  }
}

.submenu a{
  text-transform: uppercase;
  color: #777;
  text-decoration: none;
  font-size: 14px;
}

.submenu a:hover, .submenu a.active{
  color: #946d57;
}

.paddingtop0{
  padding-top: 0 !important;
}

.paddingbottom0{
  padding-bottom: 0 !important;
}

.aboutborder{
  border: 1px solid rgba(0,0,0,0.23);
}

.allcollections{
  width: 100%;
  background-color: #000;
  position: relative;
}

.allcollections:hover{
  opacity: 0.56;
}

.thumb{
  display: block;
  position: absolute;
  width:50%;
  height:50%;
  background-size:cover;
}

.thumb.top{
  top: 0;
}

.thumb.bottom{
  bottom: 0;
}

.thumb.top.right, .thumb.bottom.right{
  right: 0;
}

.contact-map{
  border-left: 1px solid rgba(0,0,0,.23);
}

@media screen and (max-width: 768px){
  .contact-map{
    border-left:none;
    padding-left: 0;
    padding-right: 0;
  }
}

#map{
  height: 585px;
  padding: 0;
}

.mgtop-75{
  margin-top: -75px;
}

.banner-caption{
  font-family: 'din', Arial, Helvetica, sans-serif;
}

.collapsing{
  transition: all 350ms ease !important;
}

@media screen and (max-width: 1024px){
  .navbar-show, .navbar > .navbar-v3{
    font-size: 12px;
  }

  body > nav.navbar .navbar-nav > li > a{
    padding-right: 10px;
  }

  body > nav.navbar .navbar-nav > li:last-child a{
    padding-left: 0;
  }

  .nav-center, .nav-logo-left{
    padding-top: 20px;
  }
}
